:root {
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}

body {
  font-family: var(--primary-font, --secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 139%;
  color: #212121;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*=====header+footer=====*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #000;
}
.logo-blue {
  color: #2196f3;
}
.navigation {
  font-size: 14px;
}
.navigation:hover {
  font-size: 14px;
  color: #2196f3;
}
.contact {
  color: #757575;
}
.contact-adress {
  color: #fff;
}
/*=====main content portfolio=====*/
.button {
  text-align: center;
}
.button:hover {
  color: #fff;
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 171%;
}
.projects-type {
  line-height: 160%;
  color: #757575;
}
/*======main content studio======*/
.main-title {
  font-size: 44px;
  font-style: black;
  font-weight: 900;
  line-height: 116%;
  color: #fff;
}
.order-button {
  font-weight: 700;
  line-height: 160%;
  color: #fff;
}
/*=====compamy values section=====*/
.company-values {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}
.company-values-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  color: #757575;
}
/*=====what we do section=====*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}
.team-member {
  line-height: 100%;
}
.team-member-role {
  font-weight: 400;
  line-height: 100%;
  color: #757575;
}
